# Root
/psu.oit.wdt.emcee.egg-info
/build
/dist

# Virtual environments
/.venv-pkg

# Documentation
/docs/.doctrees
/docs/.buildinfo
/docs/Makefile
/docs/make.bat
/docs/build

# Anywhere
__pycache__/
*.pyc
*.pyo
