[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dateutil = "~=2.9.0"
elastic-transport = "~=8.0"
elasticsearch = "~=8.18.0"
django = ">=3.2,<5.0"

[dev-packages]
textile = "~=4.0.0"
Sphinx = "~=7.2.0"
sphinx_rtd_theme = "~=1.3.0"
tblib = "~=3.0.0"
coverage = "~=7.3.0"
django-dynamic-fixture = "~=4.0.0"
